## Урок 6. Методы многокритериальной оптимизации

## Практическое задание:
Для выполнения работ P_1, P_2, P_3 сельскохозяйственное предприятие может приобрести тракторы марок А и B стоимостью соответственно c_1 и c_2 ден. ед. каждый. С использованием новой техники необходимо выполнить не менее b_1 условных единиц работы P_1 не менее b_2 условных единиц работы P_2 и не менее b_3 условных единиц работы P_3. За рассматриваемый промежуток времени с использованием трактора марки A можно выполнить a_11 условных единиц работы P_1, a_21 условных единиц работы P_2 и a_31 условных единиц работы P_3; с использованием трактора марки Б – a_12 условных единиц работы P_1, a_22 условных единиц работы P_2 и a_23 условных единиц работы P_3.

Требуется:

Составить экономико-математическую модель, позволяющую найти такой вариант приобретения тракторов той или другой марки, при котором будут выполнены все необходимые работы, а затраты на новую технику будут минимальны;
Пользуясь методом ветвей и границ, найти оптимальный вариант приобретения тракторов.

b_1 = 20, b_2 = 190, b_3 = 88, a_11 = 4, a_21 = 19, a_31=4, a_12 = 1, a_22 = 15, a_32 = 15, c_1= 3, c_2 = 5

__Решение:__

In [1]:
import numpy as np

Через  x1  и  x2  обозначим количество приобретаемой техники вида A и B соответственно.<br>
Целевая функция:<br>


$f = 3x_1 + 5x_2 \rightarrow min$

$\left\{ \begin{matrix}
4x_1+x_2 >= 20 \\
19x_1+15x_2 >= 190 \\
4x_1+15x_2 >= 88
\end{matrix} \right.$

где $ x_1 >=0\ и\ x_2 >=0$<br>
И еще одно обязательное условие: $x_1 и\ x_2\ - целые\ числа$

Необходимо решить систему уравнений.

In [2]:
c_1, c_2 = 3, 5
a_11, a_21, a_31 = 4, 19, 4
a_12, a_22, a_32 = 1, 15, 15
b_1, b_2, b_3 = 20, 190, 88

A = np.array([[4., 1.], [19., 15.], [4., 15.]])
B = np.array([20., 190., 88.])
n = np.linalg.lstsq(A, B, rcond=None)[0]
x1, x2 = int(n[0]), int(n[1])
print('x1 =',x1,'x2 =', x2)

x1 = 6 x2 = 4

Проверяем соблюдаются ли условия:

In [3]:
 
 
print('1: ', a_11*x1 + x2 >= b_1)
print('2: ', a_21*x1 + a_22*x2 >= b_2)
print('3: ', a_31*x1 + a_32*x2 >= b_3)

1:  True
2:  False
3:  False

2-е и 3-е условия не соблюдаются. Что можно предпринять? Попробуем увеличить число единиц техники A и уменьшить число единиц техники B. На одну единицу (вообще-то здесь можно вставить функцию перебора, но задача вроде несложная, да и когда руками делаешь, то понятнее становится.<br>
Проверяем:

In [4]:
x1, x2 = x1+1, x2-1
print('1: ', a_11*x1 + x2 >= b_1)
print('2: ', a_21*x1 + a_22*x2 >= b_2)
print('3: ', a_31*x1 + a_32*x2 >= b_3)

1:  True
2:  False
3:  False

Не работает. Понятно почему: не нужно было уменьшать B. Попробуем еще раз:

In [5]:
x2 = x2+1
print('1: ', a_11*x1 + x2 >= b_1)
print('2: ', a_21*x1 + a_22*x2 >= b_2)
print('3: ', a_31*x1 + a_32*x2 >= b_3)

1:  True
2:  True
3:  True

Заработало. Т.е. предварительно закупаем 7 тракторов A и 4 трактора B. Посмотрим что со стоимостью:

In [6]:
x1*c_1 + x2*c_2

41

Вроде неплохо получилось.